.redes-sociales {
    background-color: $color-1;
    @include flex-jCenter-aCenter;
    margin-top: 70px;
    gap: 20px;
    font-size: 35px;
}

.bi-whatsapp {
    color: black;
}

.bi-instagram {
    color: black;
}

.bi-facebook {
    color: black;
}

.copyright {
    text-align: center;
    margin-top: 70px;
}

.copyright {
    a{
        color: $color-3;
        &:hover {
            color: $color-4;
        }
    }
    
}